:root {
	--dark-gray: #000000;
	--med-gray: #31373E;
	--light-gray: #3C444D;
	--text-white: #FFFFFF;
	--text-gray: rgb(206, 214, 223);
	--transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 200ms;
	--font-xlarge: 1.4rem;
	--font-large: 1.2rem;
	--font-medium: 1rem;
	--font-small: .9rem;
	--font-xsmall: .8rem;
}

.mtr-viz-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 2em;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.mtr-viz-container * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1.2em;
}

.mtr-tactic-col {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	margin-right: 1em;
	width: 0;
}

.mtr-tactic-col:last-child {
	margin-right: 0;
}

.mtr-tactic {
	position: relative;
}

.mtr-tactic-title {
	font-size: var(--font-small);
	color: var(--text-white);
	text-transform: uppercase;
	height: 2.5em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

.mtr-meter-container {
	width: 100%;
	height: 10px;
	background: var(--light-gray);
	border-radius: 5px;
	margin-top: .5em;
	overflow: hidden;
	-webkit-transition: var(--transition);
	-o-transition: var(--transition);
	transition: var(--transition);
	z-index: 20;
	position: absolute;
}

.mtr-tactic:hover .mtr-meter-container {
	height: 16em !important;
}

.mtr-meter-fill {
	height: 100%;
	-webkit-transition: var(--transition);
	-o-transition: var(--transition);
	transition: var(--transition);
}

.mtr-tactic:hover .mtr-meter-fill {
	width: 100% !important;
}

.mtr-stats-container {
	color: var(--text-white);
	width: 100%;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.mtr-stat {
	margin: 0 .7em;
	width: 100%;
	background: red;
	padding: .7em 0;
	-webkit-transition: var(--transition);
	-o-transition: var(--transition);
	transition: var(--transition);
	opacity: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.mtr-tactic:hover .mtr-stat {
	-webkit-transform: scale(1) translateY(0px);
	-ms-transform: scale(1) translateY(0px);
	transform: scale(1) translateY(0px);
	opacity: 1;
}

.mtr-stat:nth-child(2) {
	-webkit-transition-delay: 75ms;
	-o-transition-delay: 75ms;
	transition-delay: 75ms;
}

.mtr-stat:nth-child(3) {
	-webkit-transition-delay: 150ms;
	-o-transition-delay: 150ms;
	transition-delay: 150ms;
	border-bottom: none !important;
}

.mtr-stats-label {
	font-size: var(--font-small);
}

.mtr-stats-val {
	font-size: var(--font-xlarge);
}

.mtr-technique-col {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin-top: 1.8em;
	-webkit-transition: var(--transition);
	-o-transition: var(--transition);
	transition: var(--transition)
}

.mtr-tactic:hover+.mtr-technique-col {
	opacity: 0.25;
}

.mtr-technique {
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.mtr-technique.mtr-display-id {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
}

.mtr-technique.mtr-display-name {
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
	width: 100%;
}

.mtr-technique:hover {
	z-index: 1;
}

.mtr-placeholder {
	visibility: hidden;
}

.mtr-technique-title {
	font-size: var(--font-xsmall);
	background: var(--light-gray);
	text-align: center;
	-webkit-transition: var(--transition);
	-o-transition: var(--transition);
	transition: var(--transition);
	cursor: pointer;
	padding: 0.5em;
	font-family: "Splunk Platform Mono", Inconsolata, Consolas, "Droid Sans Mono", Monaco, "Courier New", Courier, monospace;
	color: var(--text-white);
}

.mtr-technique.mtr-display-name .mtr-technique-title {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.mtr-technique-title.mtr-null-val {
	color: var(--text-gray);
}

.mtr-technique:hover .mtr-technique-title {
	-webkit-transform: scale(1.2) translateY(-.5em);
	-ms-transform: scale(1.2) translateY(-.5em);
	transform: scale(1.2) translateY(-.5em);
	-webkit-box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.3);
	color: var(--text-white);
}

.mtr-technique-tooltip {
	position: absolute;
	z-index: 1;
	background: var(--dark-gray);
	padding: 1em;
	min-width: 200px;
	max-width: 300px;
	visibility: hidden;
	opacity: 0;
	top: 0%;
	left: 100%;
	-webkit-transform: translate(50%, -.5em);
	-ms-transform: translate(50%, -.5em);
	transform: translate(50%, -.5em);
	-webkit-transition: var(--transition);
	-o-transition: var(--transition);
	transition: var(--transition);
	color: var(--text-gray);
	font-size: var(--font-small);
	margin-left: 25px;
	overflow-wrap: break-word;
}

.mtr-technique:hover .mtr-technique-tooltip {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translate(0, -.5em);
	-ms-transform: translate(0, -.5em);
	transform: translate(0, -.5em);
}

.mtr-technique-tooltip::before {
	content: "";
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	top: 0;
	right: 100%;
	border-style: solid;
	border-width: 0 15px 15px 0;
	border-color: transparent var(--dark-gray) transparent transparent;
}

.mtr-tactic-col:last-child .mtr-technique-tooltip,
.mtr-tactic-col:nth-last-child(2) .mtr-technique-tooltip,
.mtr-tactic-col:nth-last-child(3) .mtr-technique-tooltip {
	left: unset;
	right: 100%;
	margin-left: 0;
	margin-right: 25px;
}

.mtr-tactic-col:last-child .mtr-technique-tooltip::before,
.mtr-tactic-col:nth-last-child(2) .mtr-technique-tooltip::before,
.mtr-tactic-col:nth-last-child(3) .mtr-technique-tooltip::before {
	top: 0;
	right: unset;
	left: 100%;
	border-width: 15px 15px 0 0;
	border-color: var(--dark-gray) transparent transparent transparent;
}

.mtr-id {
	font-weight: 600;
}

.mtr-name {
	font-size: var(--font-large);
	padding-bottom: .5em;
	border-bottom: 1px solid var(--text-gray);
	margin-bottom: .5em;
}

.mtr-val {
	font-size: var(--font-xlarge);
}

.dashboard-row .dashboard-panel .panel-body .mtr-desc p {
	padding: 0;
	margin: 0;
	margin-top: .5em;
}

.mtr-legend {
	width: 500px;
	left: 50%;
	position: absolute;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.mtr-legend-title {
	font-size: var(--font-small);
}

.mtr-legend-meter {
	width: 100%;
	height: 10px;
	border-radius: 5px;
}

.mtr-legend-val {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-size: var(--font-xsmall);
	color: var(--text-gray);
}