:root {
	--bg-black: #000000;
	--bg-gray-dark: #31373E;
	--bg-gray-med: #3C444D;
	--bg-gray-light: #f1f4f5;
	--text-white: #FFFFFF;
	--text-black: #000000;
	--text-gray: rgb(175, 182, 189);
	--transition-short: all cubic-bezier(0.65, 0.05, 0.36, 1) 200ms;
    --transition-long: all cubic-bezier(0.65, 0.05, 0.36, 1) 500ms;
	--font-xlarge: 1.4rem;
	--font-large: 1.2rem;
	--font-medium: 1rem;
	--font-small: .9rem;
	--font-xsmall: .8rem;
	--font-xxsmall: .7rem;
}

.mtr-viz-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 2em;
	box-sizing: border-box;
	justify-content: center;
}

.mtr-viz-container * {
	box-sizing: border-box;
	line-height: 1.2em;
}

.mtr-tactic-col {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	margin-right: 1em;
	width: 0;
	max-width: 300px;
}

.mtr-tactic-col:last-child {
	margin-right: 0;
}

.mtr-tactic {
	position: relative;
}

.mtr-tactic-title {
	font-size: var(--font-small);
	color: var(--text-black);
	height: 2.5em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
}

.dark .mtr-tactic-title {
	color: var(--text-white);
}

.mtr-meter-container {
	width: 100%;
	height: 10px;
	border-radius: 5px;
	margin: .5em 0;
	overflow: hidden;
	-webkit-transition: var(--transition-short);
	transition: var(--transition-short);
	z-index: 20;
}

.mtr-tactic .mtr-meter-container {
	background: var(--bg-gray-light);
	position: absolute;
}

.dark .mtr-tactic .mtr-meter-container {
	background: var(--bg-gray-med);
}

.mtr-meter-container.dark {
	border: 1px solid var(--bg-gray-med);
}

.mtr-technique-tooltip .mtr-meter-container {
	background: var(--bg-gray-med);
    position: relative;
}

.mtr-tactic:hover .mtr-meter-container {
	height: 16em !important;
}

.mtr-meter-fill {
	height: 100%;
}

.mtr-tactic .mtr-meter-fill {
    -webkit-transition: var(--transition-short);
	transition: var(--transition-short);
}

.mtr-technique-tooltip .mtr-meter-fill {
    width: 0%;
	-webkit-transition: var(--transition-long);
	transition: var(--transition-long);
}

.mtr-tactic:hover .mtr-meter-fill {
	width: 100% !important;
}

.mtr-stats-container {
	color: var(--text-white);
	width: 100%;
	box-sizing: content-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.mtr-stat {
	margin: 0 .7em;
	width: 100%;
	background: red;
	padding: .7em 0;
	-webkit-transition: var(--transition-short);
	transition: var(--transition-short);
	opacity: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.mtr-tactic:hover .mtr-stat {
	-webkit-transform: scale(1) translateY(0px);
	transform: scale(1) translateY(0px);
	opacity: 1;
}

.mtr-stat:nth-child(2) {
	-webkit-transition-delay: 75ms;
	transition-delay: 75ms;
}

.mtr-stat:nth-child(3) {
	-webkit-transition-delay: 150ms;
	transition-delay: 150ms;
	border-bottom: none !important;
}

.mtr-stats-label {
	font-size: var(--font-small);
}

.mtr-stats-val {
	font-size: var(--font-large);
}

.mtr-technique-col {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin-top: 1.8em;
	-webkit-transition: var(--transition-short);
	transition: var(--transition-short)
}

.mtr-tactic-col:hover .mtr-technique-container {
	opacity: .25;
}

.mtr-tactic-col:hover .mtr-technique-container:hover {
	opacity: 1;
}

.mtr-technique-container {
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-transition: var(--transition-short);
	transition: var(--transition-short);
}

.mtr-technique, .mtr-sub-technique {
	position: relative;
	background: var(--bg-gray-light);
	cursor: pointer;
	font-family: "Splunk Platform Mono", Inconsolata, Consolas, "Droid Sans Mono", Monaco, "Courier New", Courier, monospace;
	color: var(--text-black);
	padding: 0.5em;
}

.mtr-technique {
	font-size: var(--font-xsmall);
	-webkit-transition: var(--transition-short);
	transition: var(--transition-short);
	z-index: 2;
}

.mtr-sub-technique {
	font-size: var(--font-xxsmall);
}

.dark .mtr-technique, .dark .mtr-sub-technique {
	background: var(--bg-gray-med);
	color: var(--text-white);
}

.mtr-technique-container.mtr-display-id {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
}

.mtr-technique-container.mtr-display-name {
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
	width: 100%;
}

.mtr-sub-technique-container.mtr-display-name {
	width: 90%;
}

.mtr-technique > span,
.mtr-sub-technique > span {
	text-align: center;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.mtr-placeholder {
	visibility: hidden;
	pointer-events: none;
}

.mtr-technique.mtr-display-name > span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.mtr-technique-container:hover {
	-webkit-transform: scale(1.2) translateY(-.5em);
	transform: scale(1.2) translateY(-.5em);
	box-shadow: 0px 7px 30px rgba(0, 0, 0, .8);
	z-index: 30;
	opacity: 1;
}

.mtr-technique.focused {
	-webkit-transform: translateY(-.5em);
	transform: translateY(-.5em);
	box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.15);
	z-index: 30;
	opacity: 1;
}

.mtr-technique.defocused {
	opacity: 0.15;
}

.mtr-sub-technique-container {
	position: absolute;
	z-index: 1;
	display: none;
	right: 0;
	box-shadow: 0px 7px 30px rgba(0, 0, 0, .8);
}

.mtr-technique-container:hover .mtr-sub-technique-container {
	display: block;
}

.mtr-technique-tooltip {
	position: absolute;
	z-index: 1;
	background: var(--bg-black);
	padding: 1em;
	width: 300px;
	color: var(--text-white);
	font-size: var(--font-xsmall);
	overflow-wrap: break-word;
	top: 0;
    margin: 0;
}

.mtr-technique-tooltip .mtr-name {
	font-size: var(--font-small);
}

.mtr-technique-tooltip .mtr-val {
	font-size: var(--font-medium);
}

.mtr-technique-tooltip .mtr-desc {
	font-size: var(--font-xsmall);
}

.mtr-technique-tooltip .mtr-ref {
	font-size: var(--font-xxsmall);
	margin-top: .5em;
}

.mtr-technique-tooltip p {
	color: var(--text-white);
}

.mtr-technique-tooltip-right {
	left: 100%;
}

.mtr-technique-tooltip-left {
	right: 100%;
}

.mtr-technique-tooltip .more-content {
    display: none;
}

.dashboard-row .dashboard-panel .panel-body .mtr-desc p {
	padding: 0;
	margin: 0;
	margin-top: .5em;
}

.mtr-legend {
	width: 500px;
	left: 50%;
	position: absolute;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	overflow-x: hidden;
}

.mtr-legend-title {
	font-size: var(--font-small);
}

.mtr-legend-meter-container {
	width: 100%;
	height: 10px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.mtr-legend-meter {
	width: 100%;
	height: 100%;
}

.mtr-legend-cursor {
	width: 20%;
    height: 12px;
	box-sizing: border-box;
	border-radius: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
	box-shadow: 0px 0px 0px 1000px rgba(0,0,0,0.5), 0px 0px 20px 0px rgba(0,0,0,0.4);
}

.mtr-legend-val {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-size: var(--font-xsmall);
	color: var(--text-black);
}

.dark .mtr-legend-val {
	color: var(--text-white);
}